.screen_input {
  width: 90%;
  margin: 10px 5%;
}
.screen_input textarea {
  width: 100%;
  padding: 5px 10px;
}

.screen_input button {
  padding: 5px 10px;
  background-color: #3fe397;
}
.todoList .todoGroup {
  margin: 40px 5%;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
.todoList .todoGroup .content {
  width: 60%;
}
.todoList .todoGroup div:not(.content) {
  width: 10%;
}
.todoList .todoGroup .setting {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.todoList .todoGroup .edit {
  padding: 5px;
  background-color: #ffc107;
}
.todoList .todoGroup .delete {
  padding: 5px;
  background-color: #dc3545;
}
#workDay {
  display: block;
  width: 100%;
  line-height: 40px;
  margin: 10px;
}

#buttonUpdate button {
  margin: 5px;
}
.error {
  border: 1px solid crimson;
}
